<%= render "header" %>

<h1><%= @article.title %></h1>
<h5>Original link: <a href=<%= @article.link %>> <%= @article.link %></a></h5>
<br>

<% @article.content.each do |content| %><p><%= content %></p><% end %>